*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-family: inherit;
	text-decoration: none;
	background: transparent;
	border: none;
	outline: none;
	color: inherit;
}

body,
html {
	height: 100%;
	overflow: hidden;
	font-size: 15px;
}

button {
	cursor: pointer;
}

button:active {
	transform: scale(1.01);
}

#contentContainer {
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	height: 100vh;
	background-image: url("../img/adler.png");
}

#contentContainer::before {
	content: "";
	background-color: #020f20;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.btn {
	display: flex;
	top: 44.629%;
	left: 35.885%;
	min-width: 40px;
	min-height: 40px;
	align-items: center;
	padding: 15px;
	border-radius: 50%;
	position: absolute;
	border: none;
	transition: background 0.4s;
	color: white;
}

.btn.open {
	align-items: center;
	display: flex;
	gap: 15px;
	border-radius: 40px;
	padding: 12px 15px;
}

.plusIcon {
	height: 10px;
	position: relative;
	width: 10px;
}

.horisontalLine,
.verticalLine {
	background: #fff;
	display: block;
	width: 10px;
	height: 2px;
	top: 4px;
	position: absolute;
}

.verticalLine {
	left: 4px;
	top: 0;
	width: 2px;
	height: 10px;
}


.verticalLine.hidden {
	display: none;
}


.btnText {
	display: none;
}

.btnText.hidden {
	display: block;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


.greenColor {
	background: rgba(106, 191, 75, 0.7);
}

.open.greenColor {
	background: #6abf4b;
}

.blueColor {
	background: rgba(56, 119, 238, 0.7);
}

.open.blueColor {
	background: #3877ee;
}